<section class="chart">
	<div class="chart-menu">
			<h3 class="menu-label">View:</h3>
		<ul class="menu">
			<li class="active" id="sites-button">Sites</li>
			<li id="pages-button">Pages</li>
		</ul>
	</div>
	<div class="chart-container sites">
	</div>
	<script src="js/controls.js"></script>

</section>